# 1)Select which is true for Python tuple
a)	  A tuple maintains the order of items                                                                                     
b)	  A tuple is unordered                                                                                                     
c)	  We cannot change the tuple once created                                                                                   
d)	  We can change the tuple once created

**Ans: a)A tuple maintains the order of items**   &                                                                                  **c) We cannot change the tuple once created**

# 2) Access value 20 from the following tuple
       aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

# 3) Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)

In [2]:
aTuple = (10, 20, 30, 40)
a, b, c, d = aTuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

# 4) Copy element 44 and 55 from the following tuple into a new tuple
       tuple1 = (11, 22, 33, 44, 55, 66)

In [3]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

# 5) Counts the number of occurrences of item 50 from a tuple
              tuple1 = (50, 10, 60, 70, 50)

In [4]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

# 6) Modify the first item (22) of a list inside a following tuple to 222
        tuple1 = (11, [22, 33], 44, 55)

In [5]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

# 7) Swap the following two tuples
         tuple1 = (11, 22)
         tuple2 = (99, 88)

In [6]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

# 8) Reverse the following tuple
aTuple = (10, 20, 30, 40, 50)

In [7]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

# 9) Select true statements regarding the Python tuple
a)	  We can remove the item from tuple but we cannot update items of the tuple                                                 
b)	  We cannot delete the tuple                                                                                               
c)	  We cannot remove the items from the tuple                                                                               
d)	  We cannot update items of the tuple.

Ans:                                                                                                                          c)We cannot remove the items from the tuple                                                                                 
d)We cannot update items of the tuple.